{% extends 'raw_base.html' %}

  {% block content %}
  <!-- ***** Header Area End ***** -->

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h2>About Us</h2>
            <div class="div-dec"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Main Banner Area End ***** -->

  <section class="top-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="assets/images/about-left-image.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="accordions is-first-expanded">
            <article class="accordion">
              <div class="accordion-head">
                  <span>Who We Are</span>
                  <span class="icon">
                      <i class="icon fa fa-chevron-right"></i>
                  </span>
              </div>
              <div class="accordion-body">
                  <div class="content">
                      <p>
                        At EY Research Institute-Excellence & Innovation, we're on a mission to revolutionize the way analysts work. By combining our passion for innovation with a commitment to excellence, we're helping our analysts achieve faster and better results. Experience the power of a team that's dedicated to your success.
                      </p>
                  </div>
              </div>
          </article>
          <article class="accordion">
            <div class="accordion-head">
                <span>What We Do</span>
                <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
            </div>
            <div class="accordion-body">
                <div class="content">
                    <p>
                      Empowering analysts with the tools they need to succeed! At EY Knowledge Team, we're dedicated to crafting analytics-based solutions that help our analysts achieve unparalleled results. Whether you're looking for a competitive edge or simply want to streamline your processes, we're here to help.
                    </p>
                </div>
            </div>
          </article>
          <article class="accordion">
            <div class="accordion-head">
                <span>How We Can Help You</span>
                <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
            </div>
            <div class="accordion-body">
                <div class="content">
                  <p>
                    Our analytics-based solutions are designed to streamline processes, boost efficiency, create insights and deliver commercial impact.
                  </p>
                </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
